.hero {
  height: 60vh;
  background: linear-gradient(rgba(23, 22, 22, 0.7), rgba(116, 88, 47, 0.7)),
    url("../../assets/aisle.webp") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero-content {
  max-width: 800px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary {
  background: #fff;
  color: #e78c04;
  font-weight: bold;
}

.btn-primary:hover {
  background: #f2f2f2;
}

.btn-secondary {
  background: #c96f00;
  color: #fff;
}

.btn-secondary:hover {
  background: #a75d00;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
    text-align: center;
  }
}