.title{
    font-size: 2rem;
    font-weight: bold;
    color: #a08b21;
    text-align: center;
    margin: 70px 0 30px;
    text-transform: uppercase;
}
.title h2{
    font-size: 28px;
    font-weight: 400;
    color: #ad820d;
    margin-top: 5px;
    text-transform: none;
}